.container {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    background-color: antiquewhite;
}
.msg {
    display: flex;
    flex-direction: row;
} 

.msg p {
    margin: 2px;
}
.useravatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}